<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">INPUT</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <!-- Start Drag&Drop and Select file -->
                    <div class="col-sm-12">
                        <div ng-file-drop ng-file-select drag-over-class="dragover" class='dropbox' ng-multiple="false" accept=".txt,.json" ng-model='uploadedFile'>
                            Drop files here <em>Or</em> click to upload.<br />
                            <em>(Only support *.txt and *.json file !)</em>
                        </div>
                    </div>
                    <!-- End Drag&Drop and Select file -->
                </div>
                <!-- Start show JSON file name was uploaded -->
                <div class="alert alert-info" ng-show="uploadedFile">
                    File was uploaded: <p ng-repeat='f in uploadedFile'>{{f.name}}</p>
                </div>
                <!-- Show alert file uploaded not valid JSON format -->
                <div class="alert alert-danger" id="mess" ng-show="showMess">
                    <strong>Error !</strong> Please check format of JSON file.
                </div>
                <!-- End show JSON file name was uploaded -->
                <!-- Show textbox input file name, type of file when save -->
                <div class="row">
                    <div class="col-sm-11">
                        <hr class="style">
                    </div>
                    <div class="col-sm-1">
                        <!-- Start Button Save -->
                        <button type="button" class="btn btn-primary" style="float:right" data-toggle="modal" data-target="#myModal">
                            Save <span class="glyphicon glyphicon-download-alt"></span>
                        </button>
                        <!-- End Button Save -->
                        <!-- Start Modal -->
                        <div id="myModal" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Save JSON To File</h4>
                                    </div>
                                    <div class="modal-body">
                                        <!-- Start show error when file name not valid  -->
                                        <div class="alert alert-danger" ng-show="showErrName">
                                            <strong>Error !</strong> A filename cannot contain any of the following characters:\ / : * ? " < > |
                                        </div>
                                        <!-- End show error when file name not valid  -->
                                        <div class="row">
                                            <!-- Start input file name -->
                                            <div class="col-sm-8">
                                                File Name <input type="text" class="form-control" ng-model="fileName" placeholder="Enter File Name ..." ng-change="checkName()" ng-init="validFileName = true">
                                            </div>
                                            <!-- End input file name -->
                                            <!-- Start choose format file -->
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    Format: <select class="form-control" ng-model="fileFormat" ng-init="fileFormat='txt'">
                                                        <option value="txt">*.txt</option>
                                                        <option value="json">*.json</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <!-- End choose format file -->
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <a type="button" class="btn btn-primary" ng-click="savefile()" ng-disabled="validFileName" ng-href="{{ fileUrlSave }}" download="{{ fileNameSave }}">Save</a>
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Modal -->
                    </div>
                </div>
                <!-- End textbox -->
                <!-- Start JSON edit -->
                <div id="mainView">
                    <div class="jsonView">
                        <json child="jsonData" comment="jsonComment" default-collapsed="false" type="object"></json>
                    </div>
                </div>
                <!-- End JSON edit -->
            </div>
            <!-- Start Show Treeview -->
            <div class="panel-heading" style="border-top-left-radius:0 !important;border-top-right-radius:0 !important;">
                <h3 class="panel-title">OUTPUT</h3>
            </div>
            <div class="panel-body" id="result">
                <div class="panel panel-info">
                    <div class="panel-heading">
                      Tree View
                    </div>
                    <div class="panel-body">
                        <div id="element"></div>
                    </div>
                </div>
            </div>
            <!-- End Show Treeview -->
        </div>
    </div>
</div>
<div style="margin-bottom:200px;"></div>
